<div class="about-section">
  <h1>O nama</h1>
  <p>Mi smo studenti inženjerstva informacionih sistema 3. godine. Ovo je naš projektni zadatak iz predmeta Razvoj višeslojnih aplikacija</p>
  <p>Cilj nastavnog predmeta je obrazovanje studenata u oblasti razvoja višeslojnih aplikacija i savlađivanje metoda i tehnika analize, projektovanja i implementacije. Posebna pažnja posvetiće se specifičnostima razvoja višeslojnih aplikacija koje karakteriše skalabilnost i koje se izvršavaju u distribuiranom okruženju.</p>
</div>

<h2 style="text-align:center">Naš tim</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="C:\Users\Luka\Documents\rvaproject-lukazeljkovic\Angular-StarterProject\src\assets\slika1.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Luka Zeljković</h2>
        <p class="title">Student i autor projekta</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="C:\Users\Luka\Documents\rvaproject-lukazeljkovic\Angular-StarterProject\src\assets\103998063_3940653632674422_152411107512628755_n.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fmms.businesswire.com%2Fmedia%2F20200218005271%2Fen%2F773989%2F5%2FOdilon_Almeida_Headshot_1.jpg&imgrefurl=https%3A%2F%2Fwww.businesswire.com%2Fnews%2Fhome%2F20200218005271%2Fen%2FACI-Announces-Appointment-of-Odilon-Almeida-as-President-and-Chief-Executive-Officer&tbnid=7OH4BJWnknQSNM&vet=12ahUKEwi0oa_ni4XxAhWcxrsIHeyOCgEQMygIegUIARCxAQ..i&docid=rPq7yo_AB0WetM&w=5760&h=3840&q=ceo&ved=2ahUKEwi0oa_ni4XxAhWcxrsIHeyOCgEQMygIegUIARCxAQ" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>

      </div>
    </div>
  </div>
</div>
