<div class="about-section">
  <h1>O nama</h1>
  <p>Mi smo studenti inženjerstva informacionih sistema 3. godine. Ovo je naš projektni zadatak iz predmeta Razvoj višeslojnih aplikacija</p>
  <p>Cilj nastavnog predmeta je obrazovanje studenata u oblasti razvoja višeslojnih aplikacija i savlađivanje metoda i tehnika analize, projektovanja i implementacije. Posebna pažnja posvetiće se specifičnostima razvoja višeslojnih aplikacija koje karakteriše skalabilnost i koje se izvršavaju u distribuiranom okruženju.</p>
</div>

<h2 style="text-align:center">Naš tim</h2>
<div class="row">
  <div class="column">
    <div class="card">

      <div class="container">
        <h2>Luka Zeljković</h2>
        <p class="title">Student i autor projekta</p>
        <p>Student treće godine smera inženjerstvo informacionih sistema.</p>
        <p>luka.zeljkovic@uns.ac.rs</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">

      <div class="container">
        <h2>Jelena Petrovački</h2>
        <p class="title">Asistent</p>
        <p></p>
        <p>jelenapetrovacki@uns.ac.rs</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">

      <div class="container">
        <h2>Đorđe Pržulj</h2>
        <p class="title">Profesor</p>
        <p></p>
        <p>przulj@uns.ac.rs</p>

      </div>
    </div>
  </div>
</div>
